@use '../mixins' as *;

.video {
  line-height: 1;
  max-width: rem(960);
  margin-inline: auto;
  position: relative;
  video,
  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
  [data-video-trigger] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: var(--color-brand-secondary-alpha-20);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(64);
    height: rem(64);
    opacity: 1;
    transition: 0.5s opacity;
    border: none;
    @include mqmin($bp-md) {
      width: rem(144);
      height: rem(144);
    }
  }
}