@use '../mixins'as *;

.footer {
  background: var(--color-brand-background);
  color: var(--color-brand-text);
  padding-top: rem(87);
  padding-bottom: rem(40);
  border-top: 1px solid var(--color-black-10);
  @include font-variant('regular');
  @include mqmin($bp-footer) {
    padding-top: rem(65);
    padding-bottom: rem(40);
  }
  // .footer__blocks
  &__blocks {
    row-gap: rem(48);
    @include mqmin($bp-footer) {
      row-gap: rem(18);
      column-gap: rem(16);
    }
  }
  // .footer__info
  &__info {
    row-gap: rem(16);
    margin-top: rem(48);
    @include mqmax($bp-footer) {
      &--payments {
         order: -2; // Always push the payments block first on mobile
      }
      &--trustpilot {
         order: -1; // Always push the trustpilot block second on mobile
      }
    }
    @include mqmin($bp-footer) {
      column-gap: rem(16);
      margin-top: rem(36);
    }
    &--copyright,
    &--payments,
    &--trustpilot {
      display: flex;
      align-items: flex-end;
      height: 100%;
    }
    &--copyright {
      font-size: rem(12);
      line-height: rem(19);
    }
  }

  .shipping-methods {
    &__title {
      font-size: rem(16);
    }
    &__item {
      .icon-dhl,
      .icon-dpd {
        &.icon {
          &--xxs {
            width: rem(24);
          }
          &--xs {
            width: rem(32);
          }
          &--sm {
            width: rem(40);
          }
          &--md {
            width: rem(48);
          }
          &--lg {
            width: rem(64);
          }
          &--xl {
            width: rem(96);
            height: rem(48);
          }
          &--xxl {
            width: rem(128);
          }
          &--3xl {
            width: rem(240);
          }
        }
      }
    }
  }

  .social-icons {
    margin-bottom: rem(-8);
    // .social-icons__item
    &__item {
      margin-right: rem(8);
      margin-bottom: rem(8);
      &:last-child {
        margin-right: 0;
      }
    }
    // .social-icons__link
    &__link {
      display: block;
      transition: transform var(--duration-short) linear;
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }

  .newsletter-form {
    margin-top: 0;
    @include mqmin($bp-footer) {
      margin-top: rem(20);
    }
    &__message {
      &--error {
        color: var(--color-brand-danger);
      }
      .icon {
        margin-right: rem(4);
      }
    }
    div {
      position: relative;
    }
    &__description {
      margin-bottom: rem(8);
    }
    input {
      padding-right: rem(70);
    }
    &__submit {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
      padding: 8px;

      .button {
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
      }

      .icon {
        margin: 0;
      }
    }
    .field__input {
      background: var(--color-brand-background);
      border-color: var(--color-brand-background);
      background-color: var(--color-white);
      padding: rem(0) rem(32) rem(0) rem(26);
      line-height: rem(32);
      height: 48px;
    }
  }

}

.flexible-holder {
  display: block;
  max-width: var(--max-width);
}

.footer-block {
  // .footer-block__title
  &__title {
    color: var(--color-black);
    margin: 0 0 rem(8) 0;
    padding: 0;
  }
  &__subtitle {
    font-size: rem(16);
    margin: 0 0 rem(12) 0;
  }
  &--social {
    @include mqmin($bp-footer) {
      margin-top: rem(48);
    }
  }
  // .footer-block--menu
  &--menu {
    margin-top: rem(-14);
    margin-bottom: rem(-14);
    @include mqmin($bp-footer) {
      margin-top: 0;
      margin-bottom: 0;
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      @include mqmin($bp-footer) {
        &.level-1 {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: rem(16) rem(16);
        }
        &.level-2 {
          margin-top: rem(20);
        }
      }
    }
    [data-collapsible-group] {
      border: none;
      &:first-child {
        border: none;
      }
    }
    &__item {
      &:not(:last-of-type) {
        > .footer-block--menu__link.level-2 {
          padding-bottom: rem(24);
          @include mqmin($bp-footer) {
            padding-bottom: rem(8);
          }
        }
      }
    }
    &__link {
      display: block;
      padding: rem(6) 0;
      color: inherit;
      &:hover,
      &:focus {
        text-decoration: none;
        color: var(--color-brand-primary);
      }
      &.level-1 {
        @include font-variant('heading');
        font-size: rem(26);
        line-height: rem(31);
        letter-spacing: rem(0.5);
        @include mqmin($bp-md) {
          font-size: rem(32);
          line-height: rem(42);
          letter-spacing: rem(0.7);
          width: 25%;
          box-sizing: border-box;
        }
      }
      &.level-2 {
        @include font-variant('heading');
        padding: 0;
        font-size: rem(16);
        line-height: rem(26);
        @include mqmin($bp-footer) {
          padding: 0;
        }
      }
      .icon {
        @include mqmin($bp-footer) {
          display: none;
        }
      }
    }
    .js & {
      // .footer-block--menu__link
      [data-collapsible-trigger] {
        box-sizing: border-box;
        appearance: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        width: 100%;
        text-align: left;
        position: relative;
        padding: rem(8) 0 rem(32) 0;
        margin: 0;
        border: none;
        @include mqmin($bp-footer) {
          padding: 0;
          margin-bottom: var(--element-spacing);
          pointer-events: none;
        }
        .icon {
          @include mqmin($bp-footer) {
            display: none;
            &.icon-plus,
            &.icon-minus {
              display: none;
            }
          }
        }
        [data-collapsible-trigger-icon] {
          @include mqmin($bp-footer) {
            display: none;
          }
        }
      }
      [data-collapsible-group] {
        [data-collapsible-target] {
          @include mqmin($bp-footer) {
            display: block;
            height: 100%;
          }
        }
      }
      .collapsible-is-open {
        [data-collapsible-trigger-icon] {
          transform: rotate(180deg);
        }
      }
    }
  }
  // .footer-block--languages
  &--languages,
  &--shipping {
    margin: 0 0 rem(24) 0;
    @include mqmin($bp-footer) {
      margin: 0;
    }
  }

  // .footer-block--newsletter
  &--newsletter {
    order: -1; // Always push the newsletter block first on mobile
    @include mqmin($bp-footer) {
      order: unset;
    }
  }
}
