@use '../mixins' as *;

#shopify-section-announcement-bar {
  position: relative;
  z-index: calc( var(--z-index-sticky) + 1);
  .header-search-is-open & {
    z-index: 1;
  }
}

.announcement-bar {
  // .announcement-bar__wrapper
  &__wrapper {
    height: rem(40);
    overflow: hidden;
  }
  // .announcement-bar__message
  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include font-variant('regular');
    padding: rem(10) rem(10);
    position: relative;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
  }
  // .announcement-bar__link
  &__link.link {
    display: block;
    transition: all var(--duration-default) ease-in-out;
    .icon-arrow {
      display: inline-block;
      pointer-events: none;
      margin-left: rem(8);
      vertical-align: middle;
    }
    &:hover,
    &:focus,
    &:active {
      background: var(--color-brand-dark);
    }
  }
  .swiper-container {
    background-color: var(--color-brand-background);
    color: var(--color-brand-text);
  }
}
