// Default element styling
@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin vertical-align-middle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
