@use 'media-queries' as *;
@use 'settings' as *;

@mixin site-center {
  box-sizing: border-box;
  max-width: var(--site-center);
  margin-left: auto;
  margin-right: auto;
  @include mqmin($bp-xxl) {
    max-width: var(--site-center-extra-wide);
  }
}

@mixin site-padding-left {
  padding-left: var(--site-side-spacing);
  @include mqmin($bp-md) {
    padding-left: var(--site-side-spacing-md);
  }
  @include mqmin($bp-lg) {
    padding-left: var(--site-side-spacing-lg);
  }
  @include mqmin($bp-xxl) {
    padding-left: var(--site-side-spacing-xxl);
  }
}

@mixin site-padding-right {
  padding-right: var(--site-side-spacing);
  @include mqmin($bp-md) {
    padding-right: var(--site-side-spacing-md);
    @include mqmin($bp-lg) {
      padding-right: var(--site-side-spacing-lg);
    }
    @include mqmin($bp-xxl) {
      padding-right: var(--site-side-spacing-xxl);
    }
  }
}

@mixin site-side-spacing {
  @include site-padding-left;
  @include site-padding-right;
}
