//* mixins */
@mixin mqmin($mq-breakpoint) {
    @media screen and (min-width: $mq-breakpoint) {
        @content;
    }
}

@mixin mqmax($mq-breakpoint) {
    @media screen and (max-width: $mq-breakpoint - 1px) {
        @content;
    }
}
