$ajax-cart-spacing: $gutter * 0.5;

.ajax-cart {
  position: fixed;
  z-index: 9999999;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  background: rgba(0,0,0,0);
  transition: background 0.2s ease-in-out;
  .ajax-cart__is-open & {
    width: 100%;
    background: rgba(0,0,0,0.3);
    .ajax-cart-wrapper {
      transition: all 0.2s ease-in-out;
      margin-right: 0;
    }
  }
}
.ajax-cart-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: -400px;
  width: 400px;
  max-width: 100%;
  background: #ffffff;
  border-left: 1px solid $color-border;
  color: $body-text-color;
  text-align: left;
  display: flex;
  flex-direction: column;

  .ajax-cart-quantity-modifier {
    width: 50%;
  }
}
.ajax-cart-header-wrapper {
  padding: $ajax-cart-spacing;
  border-bottom: 1px solid $color-lines;
  .ajax-cart-header {
    @extend .h3;
    margin: 0;
  }
}
.ajax-cart-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: $ajax-cart-spacing;
  font-size: 2em;
  cursor: pointer;
}
.ajax-cart-products-wrapper {
  flex-grow: 10;
  overflow: auto;
  background: #eee;
  border-bottom: 1px solid $color-lines;
}
.ajax-cart-totals-wrapper {
  padding: $ajax-cart-spacing;
  border-bottom: 1px solid $color-lines;
}
.ajax-cart-actions-wrapper {
  padding: $ajax-cart-spacing;
}

// Product rows
.ajax-cart-product-row {
  padding: $ajax-cart-spacing $ajax-cart-spacing * 2 $ajax-cart-spacing $ajax-cart-spacing;
  background: #ffffff;
  position: relative;
  border-bottom: 1px solid $color-lines;
  p {
    margin-top: 1em;
  }
  img {
    display: block;
  }
}
.ajax-cart-product-meta-col {
  flex-grow: 3;
  padding-left: $ajax-cart-spacing;
}
.ajax-cart-product-title {
  a {
    color: $body-text-color;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}
.ajax-cart-product-remove {
  position: absolute;
  top: 0;
  right: 0;
  padding: $ajax-cart-spacing;
  line-height: inherit;
}

// Quantity modifier
$quantity-modifier-height: 30px;
.ajax-cart-quantity-modifier {
  position: relative;
  max-width: 100px;
  width: 100%;
  height: $quantity-modifier-height;
  float: right;

  button {
    width: $quantity-modifier-height;
    line-height: $quantity-modifier-height;
    padding: 0;
    position: absolute;
    height: 100%;
    top: 0;
    border: 0;
    background: none;
    z-index: 1;
    i {
        display: inline-block;
        line-height: 10px;
        font-style: normal;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        right: 0;
        left: 0;
        margin-top: -1px;
    }
    &.button__plus {
      right: 0;
    }
    &.button__minus {
      left: 0;
    }
  }
  input {
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    line-height: $quantity-modifier-height;
    padding: 0 $quantity-modifier-height;
    text-align: center;
    border: 0;
    background: none;
    box-sizing: border-box;
    margin: 0;
  }
}

// Ajax cart warnings in Fancybox
.ajax-cart-warning-popup {
  .ajax-cart-warning {
      border-bottom: 1px solid $color-lines;
  }
}

// Ajax cart notifications in Fancybox
.ajax-notification {
  .fancybox-slide > & {
    padding: 10px;
    border-bottom: 1px solid $color-lines;
    max-width: 400px;
  }
  .ajax-notification-heading {
    @extend .h3;
    margin-bottom: 10px;
  }
  a {
    margin-top: 10px;
    display: block;
    text-align: center;

    &.button {
      width: 50%;
      margin: 1rem auto 0;
    }

    &.close-notification {
      font-size: 1rem;
    }
  }
}
