  .button {
  font-weight: 500;
  background: $button-background;
  color: $button-text;
  font-size: $body-fontsize;
  font-family: $body-heading-fontfamily;
  padding: $form-element-height * 0.25;
  line-height: $form-element-height * 0.5;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  margin: 0;
  &:active,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
    background: $button-background__hover;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
  }
  &.button__primary {
    &.active,
    &:active,
    &:focus,
    &:hover {
      background-color: $button-primary-hover-background;
      color: #ffffff;
    }
    &.alternative {
      background-color: $header-background;
      color: $header-link-color;
      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: $header-link-color;
        color: $header-background;
      }
    }
  }
  &.button__secondary {
    background-color: $button-secondary-background;
    border-color: $button-secondary-background;
    color: $button-secondary-text;
    &:active,
    &:focus,
    &:hover {
      background-color: $button-secondary-hover-background;
      color: #ffffff;
    }
  }
  &.button__tertiary {
    background-color: $color-button;
    color: $color-primary-text;
    font-size: $body-fontsize;
    @include mqmin($bp-md) {
      font-size: $body-fontsize * 1.2;
    }
    @include mqmin($bp-lg) {
      font-size: $body-fontsize * 1.4;
    }
  }
  &.button__funnel {
    background-color: $button-funnel-background;
    border-color: $button-funnel-background;
    color: $button-funnel-text;
    &:active,
    &:focus,
    &:hover {
      background-color: $button-funnel-hover-background;
      color: #ffffff;
    }
  }
  &[disabled],
  &.disabled,
  &.button__primary.disabled,
  &.button__primary[disabled],
  &.button__secondary.disabled,
  &.button__secondary[disabled],
  &.button__cart.disabled,
  &.button__cart[disabled] {
    cursor: default;
    background-color: #ddd;
    border-color: #ddd;
    color: #999;
    box-shadow: 0 0;
    &:active,
    &:focus,
    &:hover {
      color: #999;
      background-color: #ddd;
      border-color: #ddd;
      box-shadow: 0 0;
    }
  }
  // Size modifiers
  &.button__xs {
    font-size: $body-fontsize * 0.5;
  }
  &.button__sm {
    font-size: $body-fontsize * 0.75;
  }
  &.button__md {
    font-size: $body-fontsize * 1.25;
  }
  &.button__lg {
    font-size: $body-fontsize * 1.5;
  }
  &.button__xl {
    font-size: $body-fontsize * 1.75;
  }
  &.button__wide {
    display: block;
  }
}
.shopify-challenge__button {
  @extend .button;
}
.buttons {
  margin-left: -$body-element-spacing * 0.5;
  margin-right: -$body-element-spacing * 0.5;
  margin-bottom: -$body-element-spacing * 0.5;
  .button {
    margin: $body-element-spacing * 0.5;
    margin-top: 0;
  }
}
// buttons in .content-text
.button-wrapper {
  a {
    @extend .button;
  }
  &.button-primary {
    a {
      @extend .button__primary;
    }
  }
  &.button-secondary {
    a {
      @extend .button__secondary;
    }
  }
}
.back-link {
  padding-bottom: 85px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: $body-heading-fontfamily;
    i {
      margin-right: 20px;
      text-decoration: none;
      display: inline-block;
    }
    &:focus,
    &:active,
    &:hover {
      cursor: pointer;
      text-decoration: none;
      color: $color-funnel;
    }
  }
}