// Cart header icon
.cart-icon {
  position: relative;
  .cart-count {
    background: $color-funnel;
    color: $color-funnel-text;
    position: absolute;
    top: -5px;
    right: -5px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    min-width: 1.5em;
    box-sizing: border-box;

    @include mqmin($bp-md) {
      right: 0;
    }
    @include mqmin($bp-lg) {
      top: 0;
    }
    span {
      padding: 0 4px;
      text-align: center;
      display: block;
      position: relative;
      font-family: sans-serif;
    }
  }
}