.highlighted-collections {
  position: relative;
  display: block;
  .slideshow {
    margin-top: $container-spacing;
    @include mqmin($bp-md) {
      margin-top: $container-spacing-md;
    }
  }
  .owl-stage {
    display: flex;
  }
  .owl-item {
    display: inline !important;
    flex: 0 1 calc(100vw - 32px);
    @include mqmin($bp-md) {
      flex: 0 1 413px;
    }
    &.active:last-of-type {
      margin-right: 0 !important;
    }
    a {
      text-decoration: none;
    }
  }
  .image-container {
    position: relative;
    .img.img__responsive.img__cover.img__square img {
      max-width: 100%;
    }
    .slider-content {
      padding: 20px;
      position: absolute;
      color: #ffffff;
      h3 {
        color: #ffffff;
        font-family: $body-heading-fontfamily;
        margin: 0;
      }
      p {
        margin: 0;
      }
    }
    &.text_pos--top {
      .slider-content {
        top: 0;
      }
    }
    &.text_pos--bottom {
      .slider-content {
        bottom: 0;
      }
    }
  }
}