.image-grid {
  .col {
    position: relative;
    figure {
      height: 100%;
    }
    .grid-text {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 999;
    }
  }
  h4 {
    text-align: center;
    margin-bottom: $container-spacing;
    @include mqmin($bp-md) {
      margin-bottom: $container-spacing-md;
    }
  }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-text {
    z-index: 999;
    width: 100%;
    color: #000000;
    @include mqmin($bp-md) {
      top: 50%;
      color: #ffffff;
    }
    &.left {
      text-align: left;
    }
    &.center {
      text-align: center;
    }
    &.right {
      text-align: right;
    }
    p {
      font-family: $body-heading-fontfamily;
      font-size: 1.2em;
      padding: 40px;
    }
    a {
      color: inherit;
      font-family: $body-heading-fontfamily;
      &.link-arrow {
        margin-left: -27px;
      }
    }
  }
}