.image-with-text{
  .row{
    align-items: center;

    @media screen and (max-width: 767px){
      flex-flow: wrap-reverse;
    }
  }
  .no-page-width{
    max-width: 100%;
    padding: 0;
  }
  .text-wrapper{
    padding: 0 80px;

    @media screen and (max-width: 767px){
      padding: 40px 30px;
    }

    p{
      font-weight: bold;
    }
  }
}
