.usp-services {
  position: relative;
  display: block;
  font-size: 0.8rem;
  line-height: 1.4;
  @include mqmin($bp-md) {
    font-size: 1rem;
    line-height: 1.6;
  }
  .service {
    text-align: center;
    margin: 0;
    figure {
      max-height: 60px;
    }
  }
}
.usp-services {
  .service {
    padding: 10px;
  }
}

@media screen and (max-width: 767px){
    .usp-services .col{
        flex-basis: 100%;
        max-width: 100%;
    }
}