// A generic title + content wrapper with overlapping margins on top and bottom, rendered by container.liquid
.container {
  margin-top: $container-spacing;
  margin-bottom: $container-spacing;
  @include mqmin($bp-md) {
    margin-top: $container-spacing-md;
    margin-bottom: $container-spacing-md;
  }
  // Display as a block, no overlapping margins for previous/next rows
  &.container--block {
    margin: 0;
  }
  // Has a background color, so add padding to top and bottom
  &.container--background {
    padding-top: $container-spacing;
    padding-bottom: $container-spacing;
    @include mqmin($bp-md) {
      padding-top: $container-spacing-md;
      padding-bottom: $container-spacing-md;
    }
  }
  // White background
  &.container--white {
    @extend .container--background;
    background: #fff;
  }
  // Accent color background
  &.container--accent {
    @extend .container--background;
    background: $body-background-accent;
  }
  // Primary color background
  &.container--primary {
    @extend .container--background;
    background: $color-primary;
    color: $color-primary-text;
    svg {
      fill: $color-primary-text
    }
  }
  // Secondary color background
  &.container--secondary {
    @extend .container--background;
    background: $color-secondary;
    color: $color-secondary-text;
    svg {
      fill: $color-secondary-text
    }
  }
}
// Remove bottom margins of last childs
.container.container--block:last-child,
.container.container--accent:last-child {
  margin-bottom: 0;
}
.shopify-section:last-child {
  .container.container--block,
  .container.container--accent {
    margin-bottom: 0;
  }
}
// container-wrapper header and content
.container-header,
.container-content {
  @extend .site-center;
  @extend .site-side-spacing;
  .container--wide > &,
  &.container--wide {
    max-width: 100%;
  }
  .container--full > &,
  &.container--full {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
// container content
.container-content {
  margin-top: $container-row-spacing;
  @include mqmin($bp-md) {
    margin-top: $container-row-spacing-md;
  }
  &.hidden-title,
  &:first-child {
    margin-top: 0;
  }
}

// Container row to split up different content rows inside container
.container__row {
  position: relative;
  margin-top: $container-row-spacing;
  margin-bottom: $container-row-spacing;
  @include mqmin($bp-md) {
    margin-top: $container-row-spacing-md;
    margin-bottom: $container-row-spacing-md;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.collapsible-wrapper {
    .collapsible-trigger {
      display: block;
      h2 {
        margin: 0;
        &:after {
          content: "\002b";
          position: absolute;
          right: 0;
          top: 0;
          text-align: center;
          width: rem($body-line-height);
          line-height: rem($body-line-height);
        }
      }
    }
    .collapsible-pane-content {
      padding: $gutter-md * 0.5;
      margin: $gutter-md * 0.5 0 0 0;
      border: 1px solid $color-border;
    }
    &.collapsible-is-open {
      h2 {
        &:after {
          content: "\2212";
        }
      }
    }
  }
}
