// default vars
$color-border: #ccc !default;
$body-element-spacing: 20px !default;
$body-text-color: #000 !default;
$color-primary: #ff0000 !default;
$focus-color: $color-primary !default;
$body-text-color-light: #666 !default;
$grid-columns: 12 !default;
$color-error-text: #ee0000;
$form-element-height: 40px !default;
$form-field-spacing: 20px !default;
$form-checkbox-lineheight : 30px !default; // Lineheight for a vertical list of radio/checkboxes
/**
 * Form elements styling
 */
.formElement {
  border: 1px solid $color-border;
  height: $form-element-height;
  padding: 0 $form-element-height * 0.25;
  line-height: $form-element-height;
  font-size: 100%;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: block;
  background: #ffffff;
  border-radius: 0;
  color: $body-text-color;
  &::placeholder {
    font-size: .9em;
    color: #B4AFAB;
  }
  &:focus {
    border-color: $focus-color;
    color: #000000;
    &::placeholder {
      color: #ffffff;
    }
  }
}
// Form element
.form {
  @extend form;
}
// Form row
.form-row {
  position: relative;
  margin-top: $form-field-spacing;
  &:first-child {
    margin-top: 0;
  }
  &:first-of-type {
    margin-top: 0;
  }
  &.row {
    margin-top: $form-field-spacing;
    &:first-child {
      margin-top: 0;
    }
  }
  // input elements styling
  input[type="tel"],
  input[type="search"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="text"] {
    @extend .formElement;
    -webkit-appearance: none;
    max-width: 100%;
    width: 100%;
    &:-webkit-autofill {
      color: $body-text-color-light !important;
      background-color: #fff !important;
    }
  }
  input[type="date"] {
    @extend .formElement;
    max-width: 100%;
    width: 100%;
    &:-webkit-autofill {
      color: $body-text-color-light !important;
      background-color: #fff !important;
    }
  }
  input[type="radio"],
  input[type="checkbox"] {
    position: relative;
    margin: 0 6px 0 0;
    line-height: 20px;
  }
  select {
    @extend .formElement;
    appearance: none;
    max-width: 100%;
    width: 100%;
  }
  textarea {
    @extend .formElement;
    padding: $form-element-height * 0.25;
    line-height: $body-line-height;
    max-width: 100%;
    width: 100%;
    min-height: $body-line-height * 6;
    resize: vertical;
    vertical-align: top;
  }
  select:focus,
  input:focus,
  textarea:focus {
    border-color: $focus-color;
    outline: none;
  }
  &.required {
    .form-label:before {
      content: "*";
      color: $color-primary;
      position: absolute;
      margin-right: -1em;
      right: 0;
    }
  }
  /* error handling */
  &.error input[type="text"],
  &.error input[type="password"],
  &.error textarea,
  &.error .chosen-container-single .chosen-single,
  &.error .chosen-container-multi .chosen-choices,
  &.error select,
  &.error .select:before {
    color: $color-error-text;
    box-shadow: 0 0;
  }
  &.error .form-label {
    color: $color-error-text;
  }
  &.error .description {
    color: $color-error-text;
  }
}
//  Hide all form labels in the form
.form__labels-invisible {
  .form-label {
    @extend .visually-hidden;
  }
}
.form-label {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  box-sizing: border-box;
  @include mqmin($bp-md) {
    line-height: $form-element-height;
  }
  label {
    display: inline-block;
    padding-right: 10px;
    line-height: $form-element-height;
    user-select: none;
  }
}
.form-input {
  position: relative;
  box-sizing: border-box;
  /* label of radio- / checkbox */
  &.form-input__radio,
  &.form-input__checkbox {
    padding-top: ($form-element-height - $form-checkbox-lineheight) / 2;
    label {
      text-align: left;
      display: block;
      cursor: pointer;
      line-height: $form-checkbox-lineheight;
      margin-top: 2px;
      position: relative;
      padding-left: 30px;
      &:first-child {
        margin-top: 0;
      }
      input {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &.form-input__textarea {
    textarea {
      text-align: left;
      width: 100%;
      line-height: 20px;
      height: 100px;
      @include mqmin($bp-md) {
        min-height: 200px;
      }
    }
  }
  &.form-input__select {
    text-align: left;
    position: relative;
    select {
      padding-right: $form-element-height;
    }
    &:after {
      content: "\2039 \203A";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: $form-element-height;
      line-height: $form-element-height;
      pointer-events: none;
      transform: rotateZ(90deg);
      text-align: center;
      font-family: sans-serif;
    }
  }
}
/* form fieldset */
.form-fieldset {
  border: 1px solid $color-border;
  margin-top: $form-element-height;
  position: relative;
  padding: $form-element-height * 2.5 $form-element-height $form-element-height $form-element-height;
  &:first-child {
    margin-top: 0;
  }
  legend {
    position: static;
    span {
      font-weight: 600;
      font-size: 120%;
      background-color: $color-primary;
      color: #ffffff;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0px !important;
      /* suppress all margin rules */
      line-height: $form-element-height * 1.5;
      /* emulating padding-top/bottom */
      text-indent: $form-element-height;
      /* emulating padding-left */
    }
  }
}
/* custom File upload field */
.js .file-input {
  cursor: pointer;
  display: block;
  overflow: hidden;
  position: relative;
  input[type="file"] {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    font-size: 80px;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  input.feedback[type="text"] {
    vertical-align: top;
    padding-right: 100px;
    &.default {
      color: $body-text-color-light;
    }
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
  }
}
/* on touchevents devices */
html.touchevents input[type="text"],
html.touchevents input[type="password"],
html.touchevents input[type="button"],
html.touchevents input[type="submit"],
html.touchevents select,
html.touchevents textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
// error list
.errors {
  @extend .form-row;
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    border: 1px solid $color-error;
  }
}