// default vars
$body-text-color: #000 !default;
$body-background: #fff !default;
$gutter: 25px !default;

/*================ Helper Classes ================*/
.text-align__left {
  text-align: left;
}
.text-align__center {
  text-align: center;
}
.text-align__right {
  text-align: right;
}

.clearfix {
  @include clearfix();
}

// unstyled list
.list__unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// inline list
.list__inline {
  margin-left: 0;
  padding: 0;
  list-style: none;
  @extend .clearfix;
  li {
    float: left;
  }
}

// Hide elements
.hidden {
  display: none!important;
}

.mobile_hidden {
  display: none;
  @include mqmin($bp-md) {
    display: block;
  }
}
.desktop_hidden {
  display: block;
  @include mqmin($bp-md) {
    display: none;
  }
}

.js-focus-hidden:focus {
  outline: none;
}

.label__hidden {
  @include visually-hidden();

  // No placeholders, so force show labels
  .no-placeholder & {
    @include visually-shown();
  }
}

.visually-hidden {
  @include visually-hidden();
}

.visually-shown {
  @include visually-shown();
}

// Visibility toggles
body {
  .visibility__hidden {
      display: none;
  }
  .visibility__visible {
      display: block;
      &.row {
        display: flex;
      }
  }
  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $size: nth($breakpoint, 2);

    @include mqmin($size) {
      .visibility-#{$name}__hidden {
          display: none;
      }
      .visibility-#{$name}__visible {
          display: block;
          &.row {
            display: flex;
          }
      }
    }
  }
}

// touch / no-touch
.no-touch {
  .touch { display: none; }
}
.touch {
  .no-touch { display: none; }
}

// Cookie support
.supports-no-cookies:not(html) {
  display: none;

  html.supports-no-cookies & {
    display: block;
  }
}
.supports-cookies {
  html.supports-no-cookies & {
    display: none;
  }
}

// Skip to content button
.skip-link:focus {
  @include visually-shown(absolute);
  color: $body-text-color;
  background-color: $body-background;
  padding: $gutter * 0.5;
  z-index: 99999;
  transition: none;
}

// Theme editor Preview bar styling
#preview-bar-iframe {
  height: 5px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &:hover {
    opacity: 1;
    height: 60px;
  }
}