.icon-wrapper {
  display: inline-block;
  width: 1em;
  height: 0px;
  padding-bottom: 1em;
  vertical-align: middle;
  position: relative;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &.icon-add {
    padding-bottom: 0.625em;
  }
}
.icon-fallback-text {
  @extend .visually-hidden;
}
.icon-shopify {
  width: 4em;
  padding-bottom: 1em;
}