// Only hide when JS is supported
.js {
  .no-js {
    display: none;
  }
}

// Only hide when JS is not supported
.no-js {
  .js {
    display: none;
  }
}

.js {
  // collapsible functionality
  [data-collapsible-trigger] {
    cursor: pointer;
    .dropdown-arrow {
      transform: rotate(90deg);
      transition: transform 0.2s ease-in-out;
    }
  }
  [data-collapsible-parent] {
    &.collapsible__is-open {
      // css fallback
      [data-collapsible-target] {
        max-height: 10000px;
      }
      .dropdown-arrow {
        transform: rotate(-90deg);
      }
    }
  }
  [data-collapsible-target] {
    overflow: hidden;
    max-height: 0;
  }
}