// default vars
$color-border: #eee !default;
$table-background__accent: #eee !default;

.table-overflow {
  @include mqmax($bp-sm) {
    margin-left: -$page-side-spacing * $mobile-space-scale;
    margin-right: -$page-side-spacing * $mobile-space-scale;
  }
  @include mqmin($bp-md) {
      margin-left: -$page-side-spacing;
      margin-right: -$page-side-spacing;
  }
  @include mqmin($bp-sm) {
    max-width: 100%;
    overflow: auto;
    margin: 0;
  }
}

// responsive tables
@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @include mqmax($size) {
    .table-#{$name}-responsive {
      width: 100%;
      thead {
        display: none;
      }
      tr {
        display: block;
      }
      // IE9 table layout fixes
      tr,
      td {
        float: left;
        clear: both;
        width: 100%;
      }
      th,
      td {
        display: block;
        text-align: right;
        margin: 0;
        box-sizing: border-box;
      }
      td::before {
        content: attr(data-label);
        float: left;
        text-align: center;
        padding-right: 10px;
      }
    }
  }
}

table {
  border-collapse: collapse;
  &.table__wide {
    width: 100%;
  }
  .vertical-align__top {
    vertical-align: top;
  }
  .vertical-align__middle {
    vertical-align: middle;
  }
  .vertical-align__bottom {
    vertical-align: bottom;
  }
  th, td {
    text-align: left;
    vertical-align: top;
    padding: 0.7em;
    border: 1px solid $color-border;
  }
  tfoot {
    td {
      font-family: $body-heading-fontfamily;
    }
  }
}