@font-face {
  font-family: "LineAwesome";
  src: url("assets/line-awesome.woff2") format("woff2"),
      url("assets/line-awesome.woff") format("woff"),
      url("assets/line-awesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "NotoSerif-Regular";
  src: url("assets/NotoSerif-Regular.woff") format("woff"),
       url("assets/NotoSerif-Regular.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "BrownStd-Regular";
  src: url("assets/BrownStd-Regular.woff") format("woff"),
       url("assets/BrownStd-Regular.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}


@font-face {
  font-family: "BrownStd-Bold";
  src: url("assets/BrownStd-Bold.woff") format("woff"),
       url("assets/BrownStd-Bold.ttf")  format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
